<style>
font{
    border-color: blue;
}
</style>
<div class="container">
  <!-- Content here -->

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row" style="margin-top: 80px; margin-bottom: 80px">
        <img src="assets/images/logo_koru@1x.png" class="img-fluid rounded mx-auto " alt="logo">
    </div>

</div>


<div class="container" style="margin: 120px 20px 0px 20px;">

    <div class="row ">
        <span class="mx-auto"><a routerLink='../activate' routerLinkActive="active">注册成功</a></span>
    </div>
    <div class="row" >
        <span class="mx-auto"><a routerLink='../activate' routerLinkActive="active">卡片激活<i class="fa fa-caret-right" style="margin-left: 10px;" aria-hidden="true"></i></a></span>
        
    </div>
    
    

</div>